DB_NAME=authentication
DB_USER=root
DB_PASSWORD=REEMPLAZAR_CON_CONTRASENA_SEGURA

JWT_SECRET=REEMPLAZAR_CON_CLAVE

EUREKA_ENABLE=false
EUREKA_URL=http://eurke:8761/eureka/


# ==========================================
# ADMINISTRADOR INICIAL
# ==========================================
ADMIN_ENABLED=false
ADMIN_USERNAME=ejemplo_admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=REEMPLAZAR_CON_CONTRASENA_SEGURA